#container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 576px) {
  #container {
    max-width: 510px;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  #container {
    max-width: 700px;
  }
}
@media (min-width: 1024px) {
  #container {
    max-width: 950px;
  }
}
@media (min-width: 1280px) {
  #container {
    max-width: 1200px;
  }
}
@media (min-width: 1536px) {
  #container {
    max-width: 1450px;
  }
}
