name: 'Build'
on:
  pull_request:
    branches:
      - 'master'
permissions:
  contents: 'read'
jobs:
  build:
    name: 'Docker'
    runs-on: 'ubuntu-latest'
    env:
      REGISTRY: 'ghcr.io'
      IMAGE_NAME: 'authelia/oidc-tester-app'
    steps:
      - name: 'Harden Runner'
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: 'audit'
      - name: 'Checkout'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: 'Setup Docker Buildx'
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: 'Build and Publish'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: false
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:dev
