name: 'Build'
on:
  pull_request:
    branches:
      - 'master'
permissions:
  contents: 'read'
jobs:
  build:
    name: 'Docker'
    runs-on: 'ubuntu-latest'
    env:
      REGISTRY: 'ghcr.io'
      IMAGE_NAME: 'authelia/oidc-tester-app'
    steps:
      - name: 'Harden Runner'
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: 'audit'
      - name: 'Checkout'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: 'Setup Docker Buildx'
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: 'Build and Publish'
        uses: docker/build-push-action@ee4ca427a2f43b6a16632044ca514c076267da23 # v6.19.0
        with:
          context: .
          push: false
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:dev
